body{
    background-color: #ccdbbe;
    font-size: 1.2rem;
}

#hero{
    height: 95vh;
}

.heading{
    font-family: "DM Serif Display", serif;
    text-align: center;
    font-style: normal;
    font-weight: bolder;
    font-size: 4.5rem;
}

.lead {
    font-size: 1.2rem;
    font-family: "DM Sans", sans-serif;
    margin: 0;
    margin-bottom: 1rem;
}

.imp{
    font-weight: bold;
}

.btn{
    margin: 1rem;
    padding: 0.5rem;
    width: 125px;
    flex-grow: 0;
    flex-shrink: 0;
    font-size:1rem;
}

.project-btn{
    width: 290px;
}


/* .project-container {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .project-container:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  }

  .project-container {
    position: relative;
  }
  
  .project-content {  */
    /* Add opacity transition */
    /* transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;  */
    /* Initially fully opaque */
    /* opacity: 1; 
  } */
  

img{
    border-radius: 50%;
}

.d-grid{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:960px){

    #hero{
        height: 100%;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

@media (max-width:540px){

    #hero{
        height: 100%;
    }
    
    .heading{
        font-size: 3rem;
    }

    .lead {
        font-size: 1rem;
    }

    .hey{
        font-size: 0.8rem;
    }
}